<a href="https://colab.research.google.com/github/623021000-1thaksina/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล alldb

In [131]:
import pandas as pd  # ใช้จัดการข้อมูลต่าง ๆ ที่เป็นตาราง พวกexcel ,CSV
from google.colab import drive # เชื่อม google drive กับ colab ของเรา นี้เป็นคำสั่งเชื่อม |accout colab กับ Drive ควรเป็น accout เดียวกัน|
drive.mount('/content/drive')
import os # การจัดเก็บเกี่ยวกับไฟล์ต่าง ๆ มันอยู่ที่โฟลเดอร์ไหน จะ list โฟล์เดอร์ออกมา

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [132]:
path = '/content/drive/My Drive/dataviz_final' #บอกทางผ่านในการไปเอาไฟล์ของเรา ว่าผ่านทางไหนบ้าง

In [133]:
alldb_file = os.path.join(path,'alldb.csv')

In [134]:
data_alldb = pd.read_csv(alldb_file)
data_alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [135]:
data_alldb.isnull().any() # check ค่าว่าง

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

In [136]:
data_sub = data_alldb[['user', 'RowKey', 'date', 'phone', 'site', 'time', 'urine', 'ov', 'PartitionKey', 'title', 'age']] #เลือกคอลัมน์ที่ต้องการ
data_sub

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

#user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [137]:
alldb_user= data_sub[(data_sub['user'].astype(str).str.isnumeric()) & (data_sub['user'].str.len() == 5)] # สร้างตัวแปร alldb_user มารับโดยเลือกที่ตาราง data_sub ที่คอลัมน์ user โดยเปลี่ยนค่า
                                                                                                                                                # ข้อมูลในนั้นให้เป็น string และใช้คำสั่ง .isnumeric() เชคว่าเป็นตัวเลขหรือไม่ และรวมกับ
                                                                                                                                                # ข้อมูลคอลัมน์ user ที่เป็นตัวเลข ความยาว 5 ตัว
alldb_user

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

In [138]:
alldb_user.isnull().any()

user            False
RowKey          False
date             True
phone           False
site             True
time             True
urine            True
ov               True
PartitionKey     True
title            True
age              True
dtype: bool

In [139]:
set(alldb_user['user'])

{'06385',
 '53510',
 '99771',
 '30283',
 '05291',
 '38121',
 '01024',
 '63910',
 '14291',
 '00204',
 '90872',
 '29051',
 '54599',
 '97255',
 '78901',
 '65775',
 '77782',
 '07556',
 '00125',
 '00321',
 '88351',
 '67972',
 '46597',
 '96771',
 '01428',
 '31062',
 '39524',
 '77706',
 '00162',
 '04857',
 '11027',
 '81095',
 '95291',
 '73876',
 '00283',
 '31619',
 '00284',
 '01882',
 '32831',
 '02878',
 '00173',
 '97484',
 '74375',
 '16372',
 '02471',
 '00293',
 '62491',
 '00135',
 '99250',
 '11111',
 '26811',
 '28593',
 '98260',
 '11159',
 '00307',
 '05047',
 '18008',
 '37915',
 '28890',
 '04431',
 '16675',
 '49741',
 '50349',
 '60909',
 '84495',
 '00270',
 '00313',
 '81197',
 '22099',
 '29485',
 '62616',
 '33103',
 '00194',
 '60953',
 '19265',
 '49161',
 '18524',
 '00115',
 '06277',
 '00211',
 '25403',
 '31755',
 '67450',
 '56764',
 '87067',
 '32873',
 '26442',
 '11177',
 '83934',
 '69566',
 '01721',
 '16112',
 '49880',
 '23078',
 '53920',
 '28348',
 '29000',
 '01183',
 '63477',
 '27678',
 '44502',
 '79028',
 '94558',
 '14771',
 '87536',
 '98551',
 '45752',
 '46783',
 '28917',
 '69681',
 '78486',
 '16214',
 '90516',
 '42380',
 '22635',
 '00007',
 '13406',
 '52350',
 '39448',
 '31869',
 '89681',
 '75347',
 '34322',
 '11198',
 '00163',
 '97860',
 '26199',
 '07203',
 '73000',
 '81293',
 '33791',
 '00109',
 '00158',
 '29999',
 '72486',
 '00037',
 '83276',
 '40551',
 '78257',
 '49782',
 '24986',
 '03381',
 '11282',
 '50802',
 '34705',
 '11864',
 '33171',
 '64199',
 '79817',
 '45701',
 '40881',
 '00024',
 '60688',
 '55075',
 '41937',
 '00246',
 '05210',
 '02784',
 '13361',
 '24994',
 '22542',
 '19632',
 '17560',
 '37249',
 '43657',
 '00065',
 '35512',
 '81065',
 '00281',
 '22804',
 '42468',
 '58845',
 '45736',
 '00267',
 '80175',
 '21688',
 '49241',
 '28551',
 '31982',
 '11165',
 '00009',
 '50756',
 '79525',
 '10534',
 '81529',
 '55692',
 '00214',
 '78133',
 '62061',
 '70409',
 '23416',
 '76246',
 '94494',
 '48440',
 '00193',
 '98126',
 '00201',
 '29159',
 '00565',
 '16783',
 '02825',
 '52724',
 '20215',
 '58271',
 '45914',
 '74964',
 '46622',
 '02853',
 '92120',
 '33251',
 '53616',
 '60847',
 '34585',
 '38771',
 '29391',
 '00002',
 '85444',
 '92415',
 '75771',
 '00132',
 '75061',
 '77670',
 '18769',
 '02579',
 '77726',
 '50332',
 '09006',
 '12966',
 '38522',
 '31283',
 '39593',
 '05391',
 '03169',
 '43431',
 '32949',
 '47061',
 '76851',
 '54923',
 '00124',
 '18402',
 '68112',
 '74523',
 '51892',
 '49863',
 '19411',
 '73636',
 '00298',
 '00043',
 '42055',
 '00216',
 '00187',
 '00012',
 '29514',
 '37127',
 '10993',
 '00006',
 '15930',
 '99734',
 '03087',
 '16970',
 '00127',
 '18873',
 '08370',
 '93991',
 '47146',
 '28241',
 '15963',
 '77665',
 '29502',
 '94881',
 '10194',
 '09188',
 '00206',
 '93671',
 '00192',
 '49103',
 '96630',
 '21432',
 '66082',
 '97770',
 '19202',
 '19699',
 '75841',
 '62687',
 '81570',
 '00251',
 '26776',
 '41026',
 '00161',
 '11742',
 '00151',
 '28062',
 '00028',
 '31229',
 '95151',
 '00324',
 '00309',
 '73204',
 '74069',
 '05242',
 '57099',
 '22455',
 '00278',
 '87337',
 '45876',
 '04388',
 '76014',
 '26574',
 '00202',
 '34409',
 '89329',
 '00273',
 '52921',
 '47605',
 '09072',
 '05151',
 '19211',
 '00941',
 '32914',
 '80374',
 '32451',
 '00353',
 '48514',
 '00134',
 '05082',
 '83943',
 '03558',
 '16144',
 '38727',
 '53751',
 '36481',
 '36001',
 '25221',
 '49791',
 '95935',
 '52131',
 '19875',
 '42682',
 '38463',
 '02518',
 '26647',
 '87802',
 '00116',
 '07427',
 '00073',
 '65390',
 '33237',
 '26043',
 '50466',
 '14088',
 '75910',
 '94087',
 '05232',
 '27503',
 '88135',
 '00088',
 '79590',
 '48042',
 '89609',
 '56845',
 '45668',
 '48393',
 '52481',
 '23630',
 '71503',
 '25829',
 '55911',
 '00755',
 '18331',
 '88459',
 '79493',
 '91125',
 '86981',
 '26469',
 '25923',
 '63098',
 '19201',
 '00022',
 '77743',
 '53076',
 '00221',
 '03953',
 '90888',
 '50172',
 '00303',
 '65656',
 '83777',
 '04347',
 '51060',
 '22478',
 '32796',
 '14891',
 '86407',
 '80463',
 '48768',
 '00274',
 '26651',
 '23596',
 '52066',
 '55365',
 '00048',
 '92431',
 '88942',
 '18892',
 '01850',
 '39079',
 '76459',
 '89195',
 '19911',
 '77384',
 '67615',
 '76386',
 '00268',
 '97281',
 '17777',
 '89290',
 '99475',
 '91167',
 '57066',
 '10375',
 '58870',
 '40520',
 '77688',
 '70671',
 '37728',
 '98474',
 '00342',
 '85753',
 '00047',
 '24491',
 '65388',
 '29441',
 '02862',
 '00209',
 '21378',
 '95978',
 '55806',
 '92756',
 '00223',
 '34988',
 '80673',
 '00081',
 '68037',
 '88708',
 '16022',
 '87697',
 '19364',
 '49659',
 '39529',
 '96417',
 '33121',
 '86545',
 '68856',
 '02639',
 '11055',
 '96670',
 '77994',
 '06223',
 '01651',
 '24179',
 '27143',
 '58993',
 '66501',
 '46415',
 '10673',
 '67352',
 '44018',
 '01009',
 '47157',
 '71417',
 '00017',
 '21955',
 '97505',
 '15102',
 '12413',
 '87374',
 '00159',
 '40865',
 '62459',
 '04055',
 '69911',
 '66801',
 '24258',
 '50911',
 '75911',
 '20304',
 '00166',
 '61746',
 '27046',
 '12605',
 '52147',
 '26773',
 '06681',
 '50900',
 '28381',
 '00200',
 '31582',
 '16904',
 '64810',
 '74289',
 '06790',
 '95193',
 '00148',
 '62261',
 '05154',
 '67241',
 '62941',
 '59305',
 '08021',
 '59181',
 '00224',
 '19241',
 '63837',
 '40553',
 '98530',
 '65678',
 '00203',
 '03421',
 '95631',
 '46948',
 '34711',
 '33553',
 '94392',
 '09269',
 '02052',
 '02990',
 '57228',
 '46291',
 '00226',
 '33739',
 '90609',
 '22354',
 '00165',
 '95301',
 '55239',
 '83659',
 '92747',
 '84055',
 '20606',
 '78960',
 '03523',
 '18318',
 '81621',
 '82951',
 '77645',
 '14360',
 '41182',
 '74891',
 '38381',
 '07573',
 '05019',
 '68768',
 '45593',
 '98290',
 '29476',
 '62517',
 '49178',
 '80481',
 '45881',
 '61265',
 '84493',
 '74338',
 '16529',
 '00285',
 '78731',
 '46767',
 '13312',
 '25179',
 '66191',
 '49308',
 '24375',
 '47429',
 '39726',
 '00031',
 '03562',
 '51795',
 '48908',
 '26445',
 '84187',
 '00205',
 '76331',
 '83900',
 '00304',
 '17191',
 '70948',
 '41921',
 '59721',
 '39440',
 '50276',
 '73302',
 '62443',
 '32816',
 '44902',
 '19527',
 '50004',
 '44845',
 '66205',
 '87181',
 '09343',
 '15046',
 '45641',
 '37091',
 '85379',
 '02962',
 '03617',
 '68805',
 '10405',
 '00328',
 '11361',
 '93726',
 '32581',
 '99288',
 '08072',
 '84768',
 '00176',
 '93509',
 '53356',
 '73233',
 '47567',
 '00018',
 '12041',
 '19322',
 '87797',
 '27658',
 '41301',
 '14106',
 '00305',
 '31322',
 '00142',
 '83662',
 '40035',
 '00051',
 '00136',
 '99992',
 '67409',
 '45825',
 '19800',
 '51039',
 '00185',
 '50144',
 '34829',
 '13070',
 '28399',
 '50624',
 '38305',
 '25683',
 '79001',
 '62241',
 '58814',
 '09902',
 '00026',
 '31114',
 '30041',
 '51973',
 '73419',
 '25593',
 '19852',
 '48274',
 '61121',
 '36385',
 '95161',
 '84540',
 '10982',
 '96699',
 '00010',
 '47933',
 '19250',
 '09315',
 '45729',
 '00272',
 '75519',
 '37151',
 '66261',
 '05507',
 '37408',
 '00046',
 '72225',
 '23885',
 '63471',
 '10460',
 '28186',
 '52902',
 '92241',
 '59144',
 '00312',
 '39103',
 '33219',
 '00039',
 '24032',
 '33316',
 '07331',
 '10120',
 '03500',
 '65632',
 '00108',
 '02889',
 '99835',
 '92073',
 '00294',
 '16604',
 '01762',
 '44812',
 '00156',
 '29309',
 '55547',
 '32082',
 '87771',
 '45531',
 '53943',
 '64817',
 '21831',
 '02913',
 '00198',
 '46960',
 '54281',
 '19920',
 '77249',
 '18385',
 '00141',
 '34317',
 '49634',
 '00299',
 '09226',
 '17277',
 '00054',
 '51241',
 '22722',
 '81724',
 '55873',
 '01408',
 '00143',
 '18181',
 '02087',
 '00292',
 '61095',
 '47938',
 '53330',
 '76523',
 '14390',
 '48962',
 '79322',
 '62334',
 '42453',
 '24404',
 '35178',
 '00322',
 '96481',
 '01461',
 '00053',
 '78054',
 '91917',
 '12044',
 '01594',
 '74414',
 '00035',
 '26459',
 '29907',
 '09617',
 '71378',
 '00164',
 '21010',
 '23675',
 '32591',
 '05849',
 '85094',
 '93307',
 '00343',
 '04461',
 '19756',
 '05039',
 '31086',
 '17938',
 '37914',
 '20827',
 '80979',
 '22456',
 '17415',
 '30481',
 '89576',
 '30024',
 '71112',
 '67379',
 '91209',
 '00180',
 '00172',
 '57398',
 '99999',
 '28977',
 '84392',
 '25199',
 '38822',
 '00050',
 '26082',
 '98519',
 '60887',
 '36358',
 '19591',
 '83725',
 '92948',
 '54679',
 '82822',
 '13088',
 '74840',
 '34210',
 '00171',
 '00013',
 '00055',
 '42098',
 '99884',
 '95127',
 '12022',
 '30311',
 '47607',
 '10105',
 '36362',
 '86588',
 '18527',
 '76475',
 '11215',
 '12561',
 '73336',
 '23012',
 '00756',
 '41340',
 '01068',
 '54100',
 '43228',
 '29094',
 '25804',
 '78251',
 '73946',
 '84196',
 '55354',
 '84935',
 '00781',
 '15980',
 '68162',
 '14491',
 '31879',
 '96349',
 '54761',
 '16193',
 '03100',
 '74367',
 '00217',
 '86474',
 '86483',
 '47623',
 '92042',
 '00015',
 '02230',
 '69431',
 '31792',
 '63799',
 '63284',
 '19808',
 '08734',
 '78334',
 '98171',
 '07166',
 '13978',
 '24559',
 '34801',
 '00190',
 '19671',
 '89801',
 '97461',
 '00133',
 '42465',
 '31208',
 '68759',
 '12576',
 '48368',
 '33100',
 '29875',
 '49215',
 '67850',
 '00296',
 '19002',
 '61486',
 '48493',
 '31534',
 '47602',
 '38518',
 '18890',
 '60581',
 '29379',
 '00252',
 '53151',
 '87315',
 '22688',
 '75251',
 '06268',
 '26604',
 '74335',
 '55430',
 '28961',
 '56004',
 '14189',
 '29611',
 '74861',
 '53188',
 '61044',
 '76486',
 '00168',
 '39965',
 '44201',
 '49961',
 '24468',
 '61806',
 '01467',
 '02604',
 '38614',
 '41042',
 '34791',
 '90612',
 '41061',
 '77509',
 '12723',
 '17982',
 '89493',
 '81057',
 '54192',
 '67212',
 '50837',
 '30511',
 '26990',
 '96706',
 '86774',
 '85879',
 '37231',
 '32891',
 '74345',
 '51205',
 '00170',
 '65075',
 '95810',
 '87733',
 '31011',
 '25478',
 '02594',
 '05272',
 '11007',
 '39342',
 '61338',
 '28992',
 '51301',
 '05358',
 '22692',
 '44199',
 '15229',
 '06924',
 '54932',
 '83937',
 '55300',
 '46341',
 '60879',
 '05433',
 '00041',
 '97290',
 '19737',
 '70370',
 '00409',
 '12015',
 '00191',
 '35605',
 '79066',
 '86133',
 '40533',
 '17790',
 '53481',
 '22421',
 '12839',
 '00232',
 '16725',
 '71921',
 '65675',
 '00126',
 '89394',
 '51175',
 '72186',
 '97016',
 '23049',
 '26462',
 '00121',
 '27732',
 '10264',
 '00237',
 '65301',
 '82954',
 '63564',
 '65664',
 '23010',
 '73496',
 '68006',
 '00074',
 '00195',
 '00253',
 '00748',
 '12003',
 ...}

# site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [140]:
alldb_site= alldb_user[(alldb_user['site'].astype(str).str.isnumeric()) & (alldb_user['site'].str.len() == 5)] # สร้างตัวแปร alldb_site มารับโดยเลือกที่ตาราง alldb_user ที่คอลัมน์ site โดยเปลี่ยนค่า
                                                                                                                                                # ข้อมูลในนั้นให้เป็น string และใช้คำสั่ง .isnumeric() เชคว่าเป็นตัวเลขหรือไม่ และรวมกับ
                                                                                                                                                # ข้อมูลคอลัมน์ site ที่เป็นตัวเลข ความยาว 5 ตัว
alldb_site

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [141]:
set(alldb_site['site'])

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05369',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05438',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13377',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

# PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

In [142]:
alldb_partitionKey= alldb_site[(alldb_site['PartitionKey'].astype(str).str.isnumeric()) & (alldb_site['PartitionKey'].str.len() == 5)] # สร้างตัวแปร alldb_PartitionKey มารับโดยเลือกที่ตาราง alldb_site ที่คอลัมน์ PartitionKey โดยเปลี่ยนค่า
                                                                                                                                                # ข้อมูลในนั้นให้เป็น string และใช้คำสั่ง .isnumeric() เชคว่าเป็นตัวเลขหรือไม่ และรวมกับ
                                                                                                                                                # ข้อมูลคอลัมน์ PartitionKey ที่เป็นตัวเลข ความยาว 5 ตัว
alldb_partitionKey

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [143]:
set(alldb_partitionKey['PartitionKey'])

{'02887',
 '00616',
 '02012',
 '03552',
 '01830',
 '05124',
 '99771',
 '00486',
 '01454',
 '01946',
 '01096',
 '01024',
 '00797',
 '02158',
 '00204',
 '00850',
 '02746',
 '01066',
 '02852',
 '02983',
 '05095',
 '00811',
 '01961',
 '00819',
 '01705',
 '01261',
 '01782',
 '00344',
 '01839',
 '02504',
 '00125',
 '00633',
 '00321',
 '01113',
 '01964',
 '02248',
 '03107',
 '02864',
 '00424',
 '00989',
 '01360',
 '05121',
 '01196',
 '00909',
 '02119',
 '01428',
 '09016',
 '00383',
 '00623',
 '02882',
 '03004',
 '01878',
 '00697',
 '02251',
 '00162',
 '02380',
 '00975',
 '02024',
 '02686',
 '00428',
 '00761',
 '03058',
 '01609',
 '00283',
 '01667',
 '00594',
 '00873',
 '00884',
 '02165',
 '02679',
 '00284',
 '01882',
 '00898',
 '00405',
 '02612',
 '02878',
 '02042',
 '03379',
 '00173',
 '03032',
 '03483',
 '03408',
 '00865',
 '01620',
 '01818',
 '03383',
 '00614',
 '00293',
 '08995',
 '00708',
 '00135',
 '00888',
 '02067',
 '02132',
 '11111',
 '08914',
 '02979',
 '00554',
 '00860',
 '00827',
 '01098',
 '00307',
 '03206',
 '00822',
 '01948',
 '01217',
 '01491',
 '00622',
 '02356',
 '04185',
 '04187',
 '08916',
 '04732',
 '01335',
 '00679',
 '01478',
 '02341',
 '04693',
 '05108',
 '03030',
 '03538',
 '05327',
 '00629',
 '01538',
 '04137',
 '01192',
 '01755',
 '03237',
 '04115',
 '01220',
 '02952',
 '11000',
 '05115',
 '02654',
 '00270',
 '00313',
 '00757',
 '01790',
 '01259',
 '01833',
 '00707',
 '06033',
 '00392',
 '08596',
 '01794',
 '05139',
 '05196',
 '00194',
 '02034',
 '02413',
 '00418',
 '01018',
 '00340',
 '01123',
 '05255',
 '01108',
 '00186',
 '01400',
 '03527',
 '00955',
 '01805',
 '00739',
 '01551',
 '00115',
 '01432',
 '00638',
 '02038',
 '00211',
 '02446',
 '00339',
 '01798',
 '02908',
 '04054',
 '04663',
 '06052',
 '01940',
 '00893',
 '02841',
 '02351',
 '03392',
 '02666',
 '00929',
 '00938',
 '01858',
 '03152',
 '08935',
 '03358',
 '02334',
 '01107',
 '01879',
 '03056',
 '01680',
 '03420',
 '00562',
 '00861',
 '01337',
 '01864',
 '03063',
 '01030',
 '02708',
 '00907',
 '01080',
 '01267',
 '03245',
 '03178',
 '09028',
 '01721',
 '00813',
 '00800',
 '01173',
 '00499',
 '01385',
 '01931',
 '02997',
 '00494',
 '08927',
 '01140',
 '03093',
 '00377',
 '03925',
 '02988',
 '00362',
 '01183',
 '02790',
 '11003',
 '01260',
 '04730',
 '00453',
 '00826',
 '03298',
 '02321',
 '00385',
 '01122',
 '01366',
 '01916',
 '04661',
 '05266',
 '01913',
 '09040',
 '03384',
 '02050',
 '03156',
 '04652',
 '00504',
 '05106',
 '02918',
 '01962',
 '01891',
 '00386',
 '00478',
 '01185',
 '01144',
 '08939',
 '00007',
 '10998',
 '10969',
 '05339',
 '05118',
 '00871',
 '00163',
 '10995',
 '01760',
 '01189',
 '01245',
 '05396',
 '03033',
 '00880',
 '03060',
 '00511',
 '01722',
 '00996',
 '01341',
 '02313',
 '01561',
 '10506',
 '00109',
 '01097',
 '01198',
 '00158',
 '01827',
 '01857',
 '01872',
 '02398',
 '02538',
 '00410',
 '04143',
 '02972',
 '10975',
 '03936',
 '00611',
 '01936',
 '00037',
 '02933',
 '05975',
 '00883',
 '01811',
 '02755',
 '00477',
 '02409',
 '01595',
 '00940',
 '00507',
 '03044',
 '00468',
 '00437',
 '01117',
 '02066',
 '02937',
 '03187',
 '03267',
 '03381',
 '01897',
 '02238',
 '03995',
 '04607',
 '00593',
 '01402',
 '00715',
 '00024',
 '00426',
 '01953',
 '04016',
 '01358',
 '11005',
 '04667',
 '08976',
 '04163',
 '72093',
 '02041',
 '08383',
 '01886',
 '00403',
 '02537',
 '03238',
 '01072',
 '02971',
 '03194',
 '00246',
 '05960',
 '00227',
 '02578',
 '02784',
 '01781',
 '01677',
 '03287',
 '00065',
 '00281',
 '02340',
 '06005',
 '02001',
 '01750',
 '00267',
 '00240',
 '00674',
 '03981',
 '00627',
 '02514',
 '01612',
 '03550',
 '03416',
 '00101',
 '04104',
 '02833',
 '01614',
 '01923',
 '03122',
 '01404',
 '01289',
 '04060',
 '04692',
 '01046',
 '01853',
 '00587',
 '01284',
 '01028',
 '02405',
 '00096',
 '01116',
 '00009',
 '00741',
 '01249',
 '01279',
 '03488',
 '00553',
 '06053',
 '01532',
 '02495',
 '00214',
 '00676',
 '00995',
 '02197',
 '23416',
 '00776',
 '01243',
 '02206',
 '03110',
 '01702',
 '02985',
 '04636',
 '01459',
 '01539',
 '01162',
 '03405',
 '00193',
 '00560',
 '00201',
 '01462',
 '00630',
 '00565',
 '05233',
 '02825',
 '01444',
 '03101',
 '91123',
 '00356',
 '00675',
 '08902',
 '03933',
 '08503',
 '00539',
 '02336',
 '02068',
 '09010',
 '02678',
 '08966',
 '05343',
 '02384',
 '01062',
 '02938',
 '01242',
 '00002',
 '01875',
 '04072',
 '01417',
 '03140',
 '01109',
 '06042',
 '01469',
 '05841',
 '01483',
 '01724',
 '02871',
 '01670',
 '00132',
 '00903',
 '01841',
 '05128',
 '01824',
 '02579',
 '00563',
 '01691',
 '03291',
 '09006',
 '01238',
 '01789',
 '02333',
 '01120',
 '01785',
 '06004',
 '00859',
 '02735',
 '01598',
 '01513',
 '01900',
 '02768',
 '01764',
 '02779',
 '09000',
 '00124',
 '03072',
 '00698',
 '00838',
 '22222',
 '00754',
 '01860',
 '01955',
 '06182',
 '02945',
 '02580',
 '02930',
 '11008',
 '09020',
 '01951',
 '09002',
 '00097',
 '00640',
 '00917',
 '01746',
 '00298',
 '05223',
 '08115',
 '00444',
 '00043',
 '02848',
 '03272',
 '08477',
 '01207',
 '01205',
 '00216',
 '01978',
 '00187',
 '00862',
 '00817',
 '01310',
 '01728',
 '03062',
 '01145',
 '00012',
 '00413',
 '01838',
 '03422',
 '03129',
 '00006',
 '08993',
 '10993',
 '01332',
 '02332',
 '05244',
 '08982',
 '00598',
 '02275',
 '03225',
 '05259',
 '00127',
 '02222',
 '00419',
 '01269',
 '05341',
 '44147',
 '00991',
 '01607',
 '02199',
 '02802',
 '09031',
 '00786',
 '05770',
 '00696',
 '03521',
 '02585',
 '04624',
 '08961',
 '01035',
 '01468',
 '02858',
 '05350',
 '00249',
 '02421',
 '00877',
 '02652',
 '04182',
 '06017',
 '00512',
 '00904',
 '00206',
 '04019',
 '03200',
 '02064',
 '00192',
 '01579',
 '00711',
 '20044',
 '04660',
 '00752',
 '01004',
 '00225',
 '06003',
 '00677',
 '03096',
 '05172',
 '00927',
 '03315',
 '02839',
 '01299',
 '00251',
 '00667',
 '02517',
 '00923',
 '00070',
 '00161',
 '01656',
 '02565',
 '01569',
 '02827',
 '00151',
 '08994',
 '00371',
 '02818',
 '00028',
 '03373',
 '00324',
 '00309',
 '01193',
 '09012',
 '00760',
 '99444',
 '04785',
 '01793',
 '01449',
 '02000',
 '03310',
 '00737',
 '01634',
 '00278',
 '00236',
 '08903',
 '02363',
 '01921',
 '00659',
 '00936',
 '00202',
 '06723',
 '03014',
 '04680',
 '01999',
 '01282',
 '06006',
 '00273',
 '00890',
 '01273',
 '00842',
 '03181',
 '01958',
 '01364',
 '03410',
 '01328',
 '04171',
 '01112',
 '01787',
 '00712',
 '00595',
 '00368',
 '00941',
 '01059',
 '02880',
 '00833',
 '02845',
 '00353',
 '00933',
 '00658',
 '02049',
 '01209',
 '00134',
 '01480',
 '01276',
 '01386',
 '02773',
 '00914',
 '00550',
 '01073',
 '01255',
 '02438',
 '04036',
 '01854',
 '03501',
 '01087',
 '02668',
 '02710',
 '02754',
 '02312',
 '05098',
 '05715',
 '01342',
 '00378',
 '01525',
 '00583',
 '02518',
 '01802',
 '01418',
 '00116',
 '00393',
 '01888',
 '00896',
 '01845',
 '00591',
 '00778',
 '00073',
 '02822',
 '04070',
 '00971',
 '02492',
 '02644',
 '02910',
 '00476',
 '03393',
 '00934',
 '01157',
 '05232',
 '02731',
 '00088',
 '01600',
 '05093',
 '02701',
 '00454',
 '02874',
 '01006',
 '02543',
 '02320',
 '01937',
 '00333',
 '02426',
 '08988',
 '01673',
 '09014',
 '03826',
 '00755',
 '00644',
 '00979',
 '01053',
 '06058',
 '02534',
 '08986',
 '00994',
 '02622',
 '09001',
 '03278',
 '10965',
 '00022',
 '00463',
 '03112',
 '03432',
 '04671',
 '00221',
 '01711',
 '01663',
 '03496',
 '01219',
 '03433',
 '04625',
 '00770',
 '02794',
 '08917',
 '02061',
 '00303',
 '00751',
 '04347',
 '01361',
 '02508',
 '02329',
 '03042',
 '01917',
 '02211',
 '00516',
 '01280',
 '02900',
 '06725',
 '02005',
 '02980',
 '00874',
 '05131',
 '00274',
 '01533',
 '00789',
 '02037',
 '04030',
 '02671',
 '01516',
 '02893',
 '00048',
 '04174',
 '01959',
 '01557',
 '02288',
 '02045',
 '01933',
 '05141',
 '01850',
 '01987',
 '03909',
 '01163',
 '00892',
 '01517',
 '02079',
 '01367',
 '01482',
 '01688',
 '00268',
 '03255',
 '00458',
 '03366',
 '10964',
 '00935',
 '01143',
 '01022',
 '01887',
 '00569',
 '01843',
 '01060',
 '02250',
 '01082',
 '01751',
 '00436',
 '00814',
 '03565',
 '00607',
 '02207',
 '00485',
 '03400',
 '01588',
 '01880',
 '05109',
 '05094',
 '03064',
 '03054',
 '01986',
 '00367',
 '00876',
 '05202',
 '03948',
 '00972',
 '01206',
 '03363',
 '00342',
 '00047',
 '02350',
 '02268',
 '01240',
 '01890',
 '02862',
 '00209',
 '00901',
 '00234',
 '04183',
 '03065',
 '01625',
 '01664',
 '00223',
 '01374',
 '00473',
 '00081',
 '01661',
 '00431',
 '00620',
 '02507',
 '00899',
 '06002',
 '09005',
 '04622',
 '00338',
 '01573',
 '00503',
 '02967',
 '00443',
 '01125',
 '08900',
 '01241',
 '03073',
 '00647',
 '00970',
 '02028',
 '00243',
 '01330',
 '02769',
 '03507',
 '01821',
 '04766',
 '01231',
 '10962',
 '01690',
 '01549',
 '00600',
 '05146',
 '10970',
 '00570',
 '01474',
 '04665',
 '01529',
 '02639',
 '01232',
 '01629',
 '01132',
 '09008',
 '03106',
 '01899',
 '01651',
 '00962',
 '00407',
 '01325',
 '01644',
 '02080',
 '04006',
 '01905',
 '03504',
 '06064',
 '00396',
 '09036',
 '06008',
 '02643',
 '03510',
 '01377',
 '01009',
 '01477',
 '06031',
 '01597',
 '00774',
 '00256',
 '02021',
 '00346',
 '01435',
 '00951',
 '00017',
 '80464',
 '01763',
 '01201',
 '00683',
 '01441',
 '00103',
 '04672',
 '01127',
 '00381',
 '00159',
 '03545',
 '05318',
 '00886',
 '01104',
 '01903',
 '02084',
 '00401',
 '01352',
 '02765',
 '05105',
 '02164',
 '01233',
 '00729',
 '05114',
 '03221',
 '08909',
 '01704',
 '04033',
 '02630',
 '01568',
 '01737',
 '02046',
 '01777',
 '00087',
 '08921',
 '00839',
 '00912',
 '02926',
 '00649',
 '01655',
 '02826',
 '00166',
 '01296',
 '01719',
 '01867',
 '02965',
 '01619',
 '05957',
 '08977',
 '04639',
 '03415',
 '01151',
 '02783',
 '01632',
 '01786',
 '00639',
 '00987',
 '02914',
 '02103',
 '00900',
 '01199',
 '00200',
 '02389',
 '02664',
 '10974',
 '00689',
 '00334',
 '00726',
 '05719',
 '01848',
 '00148',
 '03954',
 '08990',
 '01373',
 '00323',
 '08964',
 '03391',
 '05154',
 '00261',
 '03445',
 '01399',
 '01502',
 '00224',
 '08351',
 '04634',
 '01799',
 '04117',
 '00988',
 '02836',
 '03546',
 '00719',
 '04696',
 '01015',
 '01869',
 '01856',
 '01391',
 '00831',
 '01014',
 '00203',
 '02847',
 ...}

#date เป็น YYYY-MM-DD

In [144]:
alldb_partitionKey['date']=pd.to_datetime(alldb_partitionKey['date'], format='%Y-%m-%d')
alldb_partitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [145]:
alldb_partitionKey.isnull().any()

user            False
RowKey          False
date             True
phone           False
site            False
time             True
urine            True
ov               True
PartitionKey    False
title            True
age              True
dtype: bool

In [146]:
alldb_partitionKey_d= alldb_partitionKey.dropna() # drop ที่เป็นค่าว่าง ลบค่าว่าง
alldb_partitionKey_d.shape  #ข้อมูลมันหายไปเยอะ

(37392, 11)

In [147]:
alldb_partitionKey['time'] = alldb_partitionKey[['time']].fillna(method="ffill")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [148]:
alldb_partitionKey.isnull().any()

user            False
RowKey          False
date             True
phone           False
site            False
time            False
urine            True
ov               True
PartitionKey    False
title            True
age              True
dtype: bool

In [149]:
alldb_partitionKey.dtypes

user                    object
RowKey                  object
date            datetime64[ns]
phone                   object
site                    object
time                    object
urine                   object
ov                      object
PartitionKey            object
title                   object
age                     object
dtype: object

#time เป็น hh-mm-ss

In [150]:
alldb_partitionKey['time'] = pd.to_datetime(alldb_partitionKey['time'],format='%H:%M%:%S',errors='ignore')  
alldb_partitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

# เปลี่ยน RowKey phone และ urine เป็น string

In [151]:
alldb_partitionKey['RowKey'] = alldb_partitionKey['RowKey'].astype('string')
alldb_partitionKey['phone'] = alldb_partitionKey['phone'].astype('string')
alldb_partitionKey['urine'] = alldb_partitionKey['urine'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [152]:
alldb_partitionKey.dtypes # เชคประเภทแต่ละคอลัมน์

user                    object
RowKey                  string
date            datetime64[ns]
phone                   string
site                    object
time                    object
urine                   string
ov                      object
PartitionKey            object
title                   object
age                     object
dtype: object

#ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [153]:
alldb_partitionKey['ov'] = alldb_partitionKey[['ov']].fillna(method="ffill")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [154]:
set(alldb_partitionKey['ov'])

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

In [155]:
data=alldb_partitionKey[alldb_partitionKey['ov']=='ติดเชื้อ +2 ']
data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
16931,87374,A838A03E-1327-4720-B689-FD29C78023FD,2022-03-07,"iPhone8,2",05237,11:50:47,ปกติ (เหลืองใส),ติดเชื้อ +2,00187,นาง,77

In [156]:
data_d=alldb_partitionKey[alldb_partitionKey['ov']!='ติดเชื้อ +2 ']
data_d

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [157]:
data_d.isnull().any()

user            False
RowKey          False
date             True
phone           False
site            False
time            False
urine            True
ov              False
PartitionKey    False
title            True
age              True
dtype: bool

In [158]:
data_d['urine'] = data_d[['urine']].fillna(method="ffill")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [159]:
data_d['date'] = data_d[['date']].fillna(method="ffill")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [160]:
data_d.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title            True
age              True
dtype: bool

# แก้ค่า title age

In [161]:
set(data_d['title'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 nan,
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [162]:
data_d_re = data_d.replace({'  นาง':'หญิง', ' นาง':'หญิง', ' นางสาว':'หญิง',  ' นาย':'ชาย', 'Mrs':'หญิง',
                                            'ชาย':'ชาย', 'ด.ช.':'ชาย', 'ด.ญ.':'หญิง',  'ด.ต.':'ไม่ระบุ', 
                                             'น':'ชาย', 'น.ส':'หญิง', 'น.ส ':'หญิง', 'น.ส.':'หญิง', 'นส':'หญิง',
                                            'นส.':'หญิง',  'นาง.':'หญิง', 'นาง ':'หญิง',  'นาง':'หญิง', 'นส. ':'หญิง',
                                             'นางl':'หญิง', 'นางสาว':'หญิง',  'นางสาว ':'หญิง', 'นางสาว                   ':'หญิง',  'นาน':'ชาย',
                                            'นาว':'หญิง', 'นาย  ':'ชาย', 'นาย ':'ชาย', 'นาย':'ชาย',  'นาบ':'ชาย',
                                            'นาวสาว':'หญิง',  'นา่ง':'หญิง', 'น่าย':'ชาย',  'พจอ.':'ไม่ระบุ', 'พระ':'ชาย',
                                             'พระครุ':'ชาย', 'พระปลัด':'ชาย', 'พลฯ':'ไม่ระบุ',  'ร.ต.':'ไม่ระบุ', 'ร.ต.ต.':'ไม่ระบุ',
                                             'ว่าที่ ร.ท.':'ไม่ระบุ', 'ว่าที่ ร.ต.':'ไม่ระบุ', 'รต.':'ไม่ระบุ', 'ร.ต.อ.':'ไม่ระบุ', 'ร.ต.ท.':'ไม่ระบุ',
                                            'ว่าที่ร้อยตรี':'ไม่ระบุ', 'ส.อ.':'ไม่ระบุ',  'ืนาง':'หญิง', 'เด็กชาย':'ชาย', 'เด็กหญิง':'หญิง'})
data_d_re

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [163]:
data_d_re[['title']]=data_d_re[['title']].fillna('ไม่ระบุ')

In [164]:
data_d_re

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,ไม่ระบุ,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,ไม่ระบุ,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,NaN

In [165]:
set(data_d_re['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [166]:
set(data_d_re['age'])

{'-233',
 '-29',
 '-32',
 '-37',
 '-5441',
 '-5789',
 '0',
 '1',
 '10',
 '1052',
 '11',
 '12',
 '127',
 '13',
 '138',
 '14',
 '15',
 '151',
 '16',
 '17',
 '18',
 '19',
 '20',
 '2030',
 '2046',
 '2051',
 '2057',
 '2063',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '312',
 '315',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '507',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '590',
 '591',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '97',
 nan}

In [167]:
data_d_re[['age']]=data_d_re[['age']].fillna('ไม่ระบุ')

In [168]:
data_d_re = data_d_re.replace({ '1':'10', '0':'10','151':'15',  '138':'13',  '127':'12', '1052':'10', '-5789':'ไม่ระบุ', '-5441':'ไม่ระบุ', '-37':'ไม่ระบุ', '-32':'ไม่ระบุ', '-29':'ไม่ระบุ','-233':'ไม่ระบุ',
                                                '2030':'20', '2046':'20', '2051':'20', '2057':'20', '2063':'20',
                                                '312':'31', '315':'31', '507':'50', '590':'59', '591':'59', })
data_d_re

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),10,00000,ไม่ระบุ,ไม่ระบุ
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,10,99999,ไม่ระบุ,ไม่ระบุ
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,10,99999,ไม่ระบุ,ไม่ระบุ
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",10,99999,ไม่ระบุ,ไม่ระบุ
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ

In [169]:
set(data_d_re['age'])

{'10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '97',
 'ไม่ระบุ'}

In [170]:
data_d_re.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
age             False
dtype: bool

In [171]:
alldb_new = data_d_re
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),10,00000,ไม่ระบุ,ไม่ระบุ
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,10,99999,ไม่ระบุ,ไม่ระบุ
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,10,99999,ไม่ระบุ,ไม่ระบุ
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",10,99999,ไม่ระบุ,ไม่ระบุ
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ

#เตรียมข้อมูล hospital

In [172]:
hospital_file = os.path.join(path,'hospital_list.xlsx')

In [173]:
data_hospital = pd.read_excel(hospital_file)
data_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [174]:
data_hospital.isnull().any()

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [175]:
data_hospital_d= data_hospital.dropna() # drop ที่เป็นค่าว่าง ลบค่าว่าง
data_hospital_d.shape  #ข้อมูลมันหายไปเยอะ

(11798, 16)

In [176]:
data_hospital_fillna = data_hospital.fillna(method='ffill') # เป็นการเติมที่แทนค่าว่าง โดยใช้วิธีการเติมข้อมูลตามแถวด้าบนของมัน (first fill)
data_hospital_fillna.shape # check รูปร่าง ข้อมูลกลับมาเหมือนปกติแล้ว

(17103, 16)

In [177]:
data_hospital_fillna.isnull().any()

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9             True
name10            True
short_thai       False
short_english    False
dtype: bool

In [178]:
data_hos= data_hospital_fillna[['hcode', 'name', 'zone_name', 'province', 'amphur', 'tambon', 'name5']] #เลือกคอลัมน์ที่ต้องการ
data_hos

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [179]:
data_hos.isnull().any()

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
name5        False
dtype: bool

In [180]:
data_h= data_hos[(data_hos['hcode'].astype(str).str.isnumeric()) & (data_hos['hcode'].str.len() == 5)] 
data_h

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [181]:
data_h.dtypes # เชคประเภทแต่ละคอลัมน์

hcode        object
name         object
zone_name    object
province     object
amphur       object
tambon       object
name5        object
dtype: object

In [182]:
data = alldb_new.merge(data_h,how='left',left_on='site',right_on='hcode') 
data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age,hcode,name,zone_name,province,amphur,tambon,name5
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),10,00000,ไม่ระบุ,ไม่ระบุ,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38376,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,10,99999,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38377,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,10,99999,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",10,99999,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
data.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
age             False
hcode            True
name             True
zone_name        True
province         True
amphur           True
tambon           True
name5            True
dtype: bool

In [184]:
data_fillna = data.fillna(method='ffill') # เป็นการเติมที่แทนค่าว่าง โดยใช้วิธีการเติมข้อมูลตามแถวด้าบนของมัน (first fill)
data_fillna.shape # check รูปร่าง ข้อมูลกลับมาเหมือนปกติแล้ว

(38381, 18)

In [185]:
data_fillna.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
age             False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
name5           False
dtype: bool

In [186]:
data_fillna

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age,hcode,name,zone_name,province,amphur,tambon,name5
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),10,00000,ไม่ระบุ,ไม่ระบุ,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38376,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,10,99999,ไม่ระบุ,ไม่ระบุ,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล
38377,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,10,99999,ไม่ระบุ,ไม่ระบุ,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล
38378,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",10,99999,ไม่ระบุ,ไม่ระบุ,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล
38379,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล
38380,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),10,99999,ไม่ระบุ,ไม่ระบุ,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล

In [187]:
data_fillna.to_csv(os.path.join(path,'data_dash.csv'))
data_fillna.to_csv('data_dash.csv')